@{
    ViewBag.Banner = "Opportunity Tracking!";
    ViewBag.Title = "Let's start here";
    ViewBag.Message = "Utilizing BreezeJS, Wep API and KnockoutJS";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <h2>
            </h2>
            <form data-bind="submit: newEntry">
            <!-- <input style="font-size: larger; box-sizing: border-box" type="submit"  data-bind=" value: newContact, valueUpdate: 'afterkeydown'"
                placeholder="So... Someone called?"> --> 
                <fieldset>
               @*<label data-bind="text: 'Entry Type:'"></label>
               
                <input type="radio" id="typeContact" name="repType" data-bind="value: 'false', checked " /><label for="typeContact" >Contact</label>
                
                <input type="radio" id="typeOrg" name="repType" data-bind="value: 'true'" /><label for="typeOrg" >Organization</label>*@
                
               <input type"submit" data-bind="value: newEntryText" placeholder="So... Opportunity knocked?"/></fieldset>
               
               
                           </form>
            <i class="icon-search"></i>&nbsp;<input type="search" placeholder="Just start typing..." />
        </div>
    </section>
}
<section>
    @*<i class="icon-spinner icon-2x icon-spin" data-bind="visible: !loadingComplete">*@
    <div data-bind="jqTabs: repCollection, visible: loadingComplete">
        <ul data-bind="foreach: { data: repCollection, as: 'rep' }" >
            <li><a href="#tab-${ID}" data-bind="attr: { href: '#tab-' + ID() }">
                 <span class="tabimage" data-bind="text: rep.Organization().Name()"></span></a> 
            </li>
                 
        </ul>
        <!--ko foreach: { data: repCollection, as: 'rep' } -->
        <div class="tabcontent" data-bind="attr: { id: 'tab-' + ID() }">
            <div class="btn-group" data-bind="attr: { id: 'toolbar-' + ID() }">
            <a class="btn btn-small" href="#" data-bind="click: function() { rep.newContact(true); }"><i class="icon-user"></i>&nbsp;New Contact</a>
            <a class="btn btn-small" href="#" ><i class="icon-bolt"></i>&nbsp;New Opp</a>
            <a class="btn btn-small" href="#" ><i class="icon-calendar"></i>&nbsp;New Event</a>
            </div>
            <div data-bind="jqDialog: { autoOpen: false, resizable: false, modal: true, width: 350, close: function(){ rep.newContact(false); $( this ).dialog( 'close' );} }, openDialog: rep.newContact()">
            <form data-bind="submit: $parent.addContact">
                <fieldset>
                <input type="text" placeholder="Contact's first and last name"/>
                <input type="text" placeholder="Organization name (optional)" />
                <input type="hidden" data-bind="value: $index" />
                </fieldset>
                </form>
            </div>
            <div data-bind="visible: !rep.isEditing()">
            <h2 data-bind="click: $parent.edit.bind(rep), text: rep.Organization().Name()"></h2>
            
            <label style="font-size:smaller;">OppKnocked Rating</label>
            <div data-bind="starRating: rep.Rating"></div>
            
            </div>
            <div data-bind="visible: rep.isEditing()">
            <label>Organization:</label><input type="text" data-bind="value: rep.Organization().Name, valueUpdate: 'afterkeydown'">
            </div>
            <!--<label data-bind="text: ID">
            </label>-->
            <a href="#" data-bind="click: $root.edit.bind(rep), visible: !rep.isEditing()"><i class="icon-edit-sign"></i>Edit</a>
            <ul class="contact" data-bind="foreach: { data: Contacts, as: 'contact' }">
                <li >
                    <div data-bind=" visible: !rep.isEditing() ">
                        <!-- click: $root.edit.bind(rep), -->
                        <label data-bind="text: contact.FirstName() + ' ' + contact.LastName()">
                        </label>
                        <p>
                        <label style="font-size:smaller;">OppKnocked Rating</label>
                        <div data-bind="starRating: contact.Rating"></div>
                        </p>
                        <!--<div id="edit" style="display:none;" ><a href="#" class="ui-button" data-bind=" click: $root.edit.bind(rep), html: 'Edit'"></a></div>
                        <div id="edit" style="display:none;"><a class="button" href="#" data-bind=", html: 'Edit'"></a></div> -->
                        <div data-bind="foreach: {data: ContactInfo, as: 'ci' }">
                        
                        <!-- Ugly hack #4576: TypeName is not coming across with Category entity. Based on Enum, but this may be an issue specific to .Net4.0 & EF4.4 -->
                            <i data-bind="attr: { class: 'icon-' + $root.contactCategories()[0][(ci.Category().ID()-1)].TypeName + '-sign pull-left icon-border' }"></i><label data-bind="text: ci.Value"></label>
                        
                        </div>
                        
                    </div>
                    <div data-bind="visible: rep.isEditing()">
                        <form data-bind="event: { submit: $parents[1].completeEdit.bind(rep) }">
                        <input type="text" data-bind="value : contact.FirstName, hasfocus: rep.isEditing()" />
                        <input type="text" data-bind="value: contact.LastName, hasfocus: rep.isEditing()" />
                        <div data-bind="foreach: {data: ContactInfo, as: 'ci' }">
                        <p>
                        
                           <select class="span6" data-bind="options: $parents[2].contactCategories()[0], optionsText: 'TypeName', optionsValue: 'TypeNameValue', value: ci.Category().TypeNameValue"></select> :<input data-bind="value: ci.Value, hasfocus:  rep.isEditing()" />
                           <!--<input type="text" data-bind="value: Category, hasfocus: rep.isEditing()" /> -->
                           </p>
                        </div>
                        <div class="btn-group" data-bind=" attr: { id: 'newMenu' + $index() } ">
                        <a class="btn btn-small btn-primary" href="#" ><i class="icon-user"></i>&nbsp;New</a>
                        <a class="btn btn-primary dropdown-toggle" data-bind="click: function() { $('#newMenu' + $index()).addClass('open'); }" href="#">
                        <span class="icon-caret-down btn-small"></span></a>
                        <ul class="dropdown-menu" data-bind="foreach: { data: $root.contactCategories()[0], as: 'cat' }">
                            <li><a href="#" data-bind="click: $root.addContactInfo.bind(contact)"><i data-bind="attr: { class: 'icon-fixed-width icon-' + cat.TypeName + '-sign' }"></i><label data-bind="text: cat.TypeName"></label></a></li>
                        </ul>
                        <!-- data-bind="click: $root.addContactInfo.bind(contact)" -->
                        </div>
                        <a class="btn btn-small btn-success" href="#" data-bind="click: function(){ return $(this).closest('form').submit(); }" ><i class="icon-flag-checkered"></i>&nbsp;Done</a>
                        <input type="submit" data-bind="value: 'Done'" />
                        </form>
                    </div>
                </li>
            </ul>
            
        </div>
        <!-- /ko -->
    </div>
    <div class="controlLinks">
        @*<a href="#" data-bind="click: purge">Purge</a>&nbsp;&nbsp;
                    <a href="#" data-bind="click: reset">Reset</a>*@
    </div>
</section>

