@{
    ViewBag.Banner = "Opportunity Tracking!";
    ViewBag.Title = "Let's start here";
    ViewBag.Message = "Utilizing BreezeJS, Wep API and KnockoutJS";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <h2>
            </h2>
            <form data-bind="submit: addRep">
            <!-- <input style="font-size: larger; box-sizing: border-box" type="submit"  data-bind=" value: newContact, valueUpdate: 'afterkeydown'"
                placeholder="So... Someone called?"> --> 
               <input type"submit" data-bind="value: newContact" placeholder="So... Opportunity knocked?"/>
                           </form>
        </div>
    </section>
}
<section>
    <img class="icon-spinner icon-2x icon-spin" data-bind="visible: !loadingComplete">
    <div data-bind="jqTabs: repCollection, visible: loadingComplete">
        <ul data-bind="foreach: repCollection">
            <li><a href="#tab-${ID}" data-bind="attr: { href: '#tab-' + ID() }">
                 <span class="tabimage" data-bind="text: ID"></span></a> 
            </li>
                 <!--<img id="hdrimage" alt="Representative" src="/images/clear.cache.gif">  -->
        </ul>
        <!--ko foreach: { data: repCollection, as: 'rep' } -->
        <div class="tabcontent" data-bind="attr: { id: 'tab-' + ID() }">
            <h2 data-bind="text: rep.Organization.Name()"></h2>
            <!--<label data-bind="text: ID">
            </label>-->
            <ul data-bind="foreach: { data: Contacts, as: 'contact' }">
                <li >
                    <div data-bind="click: $parents[1].edit.bind(rep), visible: !rep.isEditing() ">
                        <label data-bind="text: contact.FirstName() + ' ' + contact.LastName()">
                        </label><div id="edit" style="display:none;" ><a href="#" class="ui-button" data-bind=" click: $parents[1].edit.bind(rep), html: 'Edit'"></a></div>
                        <div id="edit" style="display:none;"><a class="button" href="#" data-bind=", html: 'Edit'"></a></div>
                        <div style="float: right;"  data-bind="foreach: ContactInfo">
                            <span data-bind="text: Category, click: $parents[2].edit.bind(rep)"></span> <label data-bind="text: Value, click: $parents[2].edit.bind(rep)"></label>
                        </div>
                        
                    </div>
                    <div data-bind="visible: rep.isEditing()">
                        <form data-bind="event: { submit: $parents[1].completeEdit.bind(rep) }">
                        <input type="text" data-bind="value : contact.FirstName, hasfocus: rep.isEditing()" />
                        <input type="text" data-bind="value: contact.LastName, hasfocus: rep.isEditing()" />
                        <div style="float: right;" data-bind="foreach: ContactInfo">
                            <input type="text" data-bind="value: Category, hasfocus: rep.isEditing()" />:<input data-bind="value: Value, hasfocus:  rep.isEditing()" />
                        </div>
                        <input type="submit" data-bind="value: 'Done'" />
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /ko -->
    </div>
    <div class="controlLinks">
        @*<a href="#" data-bind="click: purge">Purge</a>&nbsp;&nbsp;
                    <a href="#" data-bind="click: reset">Reset</a>*@
    </div>
</section>
