@{
    ViewBag.Banner = "Opportunity Tracking!";
    ViewBag.Title = "Let's start here";
    ViewBag.Message = "Utilizing BreezeJS, Wep API and KnockoutJS";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <h2></h2>
                <form data-bind="submit: addRep">
                    <input style="font-size:larger;box-sizing:border-box" type="text" data-bind=" value: newContact.firstName, valueUpdate: 'afterkeydown'" placeholder="So... Someone called?">
                </form>
        </div>
    </section>
}
<section>
                <div data-bind="jqTabs: repCollection">
                <ul data-bind="foreach: repCollection">
                    <li>
                        <a href="#tab-${ID}" data-bind="attr: { href: '#tab-' + ID() }"><img id="hdrimage" alt="Patient" src="/images/clear.cache.gif"></a> 
                    </li>
                </ul>

                <!--ko foreach: repCollection -->
                
                        <ul data-bind="foreach: contacts">
                            <li>
                                <div data-bind="visible: !isEditing()">
                            
                                    <label data-bind="text: fullname, click: $parent.edit"></label>
                                    <a href="#" data-bind="click: $parent.deleteContact">X</a> 
                                </div>
                                <div data-bind="visible: isEditing">
                                    <form data-bind="event: { submit: $parent.completeEdit }">
                                        <input type="text" data-bind="value : firstName, hasfocus: isEditing" />
                                        <input type="text" data-bind="value: lastName, hasfocus: isEditing" />
                                    </form>
                                </div>
                            </li>
                        </ul>
                    
                <!-- /ko -->
                </div>
                <div class="controlLinks">
                    @*<a href="#" data-bind="click: purge">Purge</a>&nbsp;&nbsp;
                    <a href="#" data-bind="click: reset">Reset</a>*@
                </div>
</section>

