@{
    ViewBag.Banner = "Opportunity Tracking!";
    ViewBag.Title = "Let's start here";
    ViewBag.Message = "Utilizing BreezeJS, Wep API and KnockoutJS";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <h2>
            </h2>
            <form data-bind="submit: addRep">
            <input style="font-size: larger; box-sizing: border-box" type="text" data-bind=" value: newContact.firstName, valueUpdate: 'afterkeydown'"
                placeholder="So... Someone called?">
            </form>
        </div>
    </section>
}
<section>
    <div data-bind="jqTabs: repCollection">
        <ul data-bind="foreach: repCollection">
            <li><a href="#tab-${ID}" data-bind="attr: { href: '#tab-' + ID() }">
                 <span class="tabimage" data-bind="text: ID"></span></a> 
            </li>
                 <!--<img id="hdrimage" alt="Representative" src="/images/clear.cache.gif">  -->
        </ul>
        <!--ko foreach: repCollection -->
        <div class="tabcontent" data-bind="attr: { id: 'tab-' + ID() }">
            <h2 data-bind="text: ID()"></h2>
            <!--<label data-bind="text: ID">
            </label>-->
            <ul data-bind="foreach: contacts">
                <li>
                    <div data-bind="visibile: !isEditing">
                        <label data-bind="text: fullname, click: $parents[1].edit">
                        </label>
                        <div style="float: right;"  data-bind="foreach: contactInfo">
                            <span data-bind="text: category, click: $parents[2].edit"></span> <label data-bind="text: value, click: $parents[2].edit"></label>
                        </div>
                    </div>
                    <div data-bind="visible: isEditing">
                        <form data-bind="event: { submit: $parents[1].completeEdit }">
                        <input type="text" data-bind="value : FirstName, hasfocus: isEditing" />
                        <input type="text" data-bind="value: LastName, hasfocus: isEditing" />
                        <div style="float: right;" data-bind="foreach: contactInfo">
                            <input type="text" data-bind="value: category, hasfocus: isEditing" />:<input data-bind="value: value, hasfocus: isEditing" />
                        </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /ko -->
    </div>
    <div class="controlLinks">
        @*<a href="#" data-bind="click: purge">Purge</a>&nbsp;&nbsp;
                    <a href="#" data-bind="click: reset">Reset</a>*@
    </div>
</section>
