@{
    ViewBag.Banner = "Opportunity Tracking!";
    ViewBag.Title = "Let's start here";
    ViewBag.Message = "Utilizing BreezeJS, Wep API and KnockoutJS";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <h2></h2>
                <form data-bind="submit: addRepresentative">
                    <input style="font-size:larger;box-sizing:border-box" type="text" data-bind=" value: newRepresentative, valueUpdate: 'afterkeydown'" placeholder="So... Someone called?">
                </form>
        </div>
    </section>
}
<section>
                <div class="mark-all" >
                    <!-- ko if: items().length -->
                    <input id="markAll" type="checkbox" data-bind="checked: markAllCompleted">
                    <label for="markAll">Mark all as complete </label>
                    <!-- /ko -->
                    <input id="includeArchived" type="checkbox" data-bind="checked:includeArchived">
                    <label for="includeArchived" class="archived">Show archived</label>
                </div>

                <ul data-bind="foreach: items">
                    <li>
                        <div data-bind="visible: !isEditing()">
                            <input type="checkbox" data-bind="checked: IsDone" />
                            <label data-bind="text: Description, click: $parent.edit, css: { done: IsDone, archived: IsArchived }"></label>
                            <a href="#" data-bind="click: $parent.removeItem">X</a> 
                        </div>
                        <div data-bind="visible: isEditing">
                            <form data-bind="event: { submit: $parent.completeEdit }">
                                <input type="text" data-bind="value: Description, hasfocus: isEditing" />
                            </form>
                        </div>
                    </li>
                </ul>
                <div class="controlLinks">
                    <a href="#" data-bind="click: purge">Purge</a>&nbsp;&nbsp;
                    <a href="#" data-bind="click: reset">Reset</a>
                </div>
</section>
