@{
    ViewBag.Banner = "Opportunity Tracking!";
    ViewBag.Title = "Let's start here";
    ViewBag.Message = "Utilizing BreezeJS, Wep API and KnockoutJS";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <h2>
            </h2>
            <form data-bind="submit: newEntry">
            <!-- <input style="font-size: larger; box-sizing: border-box" type="submit"  data-bind=" value: newContact, valueUpdate: 'afterkeydown'"
                placeholder="So... Someone called?"> --> 
                <fieldset>
               @*<label data-bind="text: 'Entry Type:'"></label>
               
                <input type="radio" id="typeContact" name="repType" data-bind="value: 'false', checked " /><label for="typeContact" >Contact</label>
                
                <input type="radio" id="typeOrg" name="repType" data-bind="value: 'true'" /><label for="typeOrg" >Organization</label>*@
                
               <input type"submit" data-bind="value: newEntryText" placeholder="So... Opportunity knocked?"/></fieldset>
               
               
                           </form>
        </div>
    </section>
}
<section>
    <img class="icon-spinner icon-2x icon-spin" data-bind="visible: !loadingComplete">
    <div data-bind="jqTabs: repCollection, visible: loadingComplete">
        <ul data-bind="foreach: { data: repCollection, as: 'rep' }">
            <li><a href="#tab-${ID}" data-bind="attr: { href: '#tab-' + ID() }">
                 <span class="tabimage" data-bind="text: rep.Organization().Name()"></span></a> 
            </li>
                 
        </ul>
        <!--ko foreach: { data: repCollection, as: 'rep' } -->
        <div class="tabcontent" data-bind="attr: { id: 'tab-' + ID() }">
            <div class="ui-widget-header ui-corner-all" data-bind="attr: { id: 'toolbar-' + ID() }">
            <button data-bind="click: function() { rep.newContact(true); }, html: 'New Contact'"></button>
            <button data-bind="html: 'New Opp'"></button>
            </div>
            <div data-bind="jqDialog: { autoOpen: false, resizable: false, modal: true, width: 350, close: function(){ rep.newContact(false); $( this ).dialog( 'close' );} }, openDialog: rep.newContact()">
            <form data-bind="submit: $parent.addContact">
                <fieldset>
                <input type="text" placeholder="Enter the contact's first and last name here"/>
                <input type="hidden" data-bind="value: $index" />
                </fieldset>
                </form>
            </div>
            <div data-bind="visible: !rep.isEditing()">
            <h2 data-bind="click: $parent.edit.bind(rep), text: rep.Organization().Name()"></h2>
            </div>
            <div data-bind="visible: rep.isEditing()">
            Organization: <input type="text" data-bind="value: rep.Organization().Name, valueUpdate: 'afterkeydown'">
            </div>
            <!--<label data-bind="text: ID">
            </label>-->
            <ul data-bind="foreach: { data: Contacts, as: 'contact' }">
                <li >
                    <div data-bind="click: $root.edit.bind(rep), visible: !rep.isEditing() ">
                        <label data-bind="text: contact.FirstName() + ' ' + contact.LastName()">
                        </label><div id="edit" style="display:none;" ><a href="#" class="ui-button" data-bind=" click: $root.edit.bind(rep), html: 'Edit'"></a></div>
                        <div id="edit" style="display:none;"><a class="button" href="#" data-bind=", html: 'Edit'"></a></div>
                        <div data-bind="foreach: {data: ContactInfo, as: 'ci' }">
                        <p>
                        <!-- Ugly hack #4576: TypeName is not coming across with Category entity. Based on Enum, but this may be an issue specific to .Net4.0 & EF4.4 -->
                            <span data-bind="text: $root.contactCategories()[0][(ci.Category().ID()-1)].TypeName, click: $root.edit.bind(rep)"></span>: <label data-bind="text: ci.Value, click: $root.edit.bind(rep)"></label>
                        </p>
                        </div>
                        
                    </div>
                    <div data-bind="visible: rep.isEditing()">
                        <form data-bind="event: { submit: $parents[1].completeEdit.bind(rep) }">
                        <input type="text" data-bind="value : contact.FirstName, hasfocus: rep.isEditing()" />
                        <input type="text" data-bind="value: contact.LastName, hasfocus: rep.isEditing()" />
                        <div data-bind="foreach: {data: ContactInfo, as: 'ci' }">
                        <p>
                        
                           <select class="span6" data-bind="options: $parents[2].contactCategories()[0], optionsText: 'TypeName', optionsValue: 'TypeNameValue', value: ci.Category().TypeNameValue"></select> :<input data-bind="value: ci.Value, hasfocus:  rep.isEditing()" />
                           <!--<input type="text" data-bind="value: Category, hasfocus: rep.isEditing()" /> -->
                           </p>
                        </div>
                        <input type="submit" data-bind="value: 'Done'" />
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /ko -->
    </div>
    <div class="controlLinks">
        @*<a href="#" data-bind="click: purge">Purge</a>&nbsp;&nbsp;
                    <a href="#" data-bind="click: reset">Reset</a>*@
    </div>
</section>
